
a.wd-selected {padding-bottom: 5px; border-bottom: 4px solid rgb(29,161,242);   color: rgb(29,161,242); }
a.wd-not-selected { color: rgb(110, 118, 125) }

ul{
    list-style-type:none;
    padding-left: inherit;
}
li{
    margin: 4px 0;
}

hr { margin-left:0px; background-color: rgb(47, 51, 54); height: 3px; border: 0; }


.wd-float-left {
    float: left;
}
.wd-float-right {
    float: right;
    margin-right: 12px;

}

.wd-search-twitter{
    width: 75%;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 12px;
    font-color: white;
    background-color: rgb(105,105,105,0.5);
    background-image:url('icons/icons8-search-30.png');
    background-position: 15px 2px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    text-align: left;
}

.wd-topic-number {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-navbar {
    width: 100%;
    overflow: auto;
    display: inline-flex;
}
.wd-navbar a {
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}

.wd-rounded-corners-all-around {
    border-radius: 15px;
}
.wd-grid-row {
    clear: both;
    overflow: auto;
}